input/1channel.cfg filter=lfs diff=lfs merge=lfs -text
input/1Gb_x8.vi filter=lfs diff=lfs merge=lfs -text
input/black filter=lfs diff=lfs merge=lfs -text
input/comm1 filter=lfs diff=lfs merge=lfs -text
input/1Gb_x16.vi filter=lfs diff=lfs merge=lfs -text
input/face filter=lfs diff=lfs merge=lfs -text
input/freq filter=lfs diff=lfs merge=lfs -text
input/1Gb.vi filter=lfs diff=lfs merge=lfs -text
input/4channel.cfg filter=lfs diff=lfs merge=lfs -text
input/4Gb_x8.vi filter=lfs diff=lfs merge=lfs -text
input/fluid filter=lfs diff=lfs merge=lfs -text
input/swapt filter=lfs diff=lfs merge=lfs -text
input/1Gb_x4.vi filter=lfs diff=lfs merge=lfs -text
input/2Gb_x4.vi filter=lfs diff=lfs merge=lfs -text
input/2Gb_x8.vi filter=lfs diff=lfs merge=lfs -text
input/4Gb_x4.vi filter=lfs diff=lfs merge=lfs -text
input/comm2 filter=lfs diff=lfs merge=lfs -text
input/ferret filter=lfs diff=lfs merge=lfs -text
input/stream filter=lfs diff=lfs merge=lfs -text
